@import 'media';

$media-breakpoints: (
  small: 0 320,
  medium: 321 480,
  large: 481 768,
  extra-large: 769
);

@include media(small) {
  body {
    color: red;
  }
}

@include media(medium large) {
  body {
    color: green;
  }
}

@include media(extra-large) {
  body {
    color: blue;
  }
}

@include media(small large extra-large) {
  body {
    color: orange;
  }
}

@include media(retina small medium) {
  body {
    color: purple;
  }
}
